Flask[async]
pandas
matplotlib
python-dotenv
langchain
langchain-openai
langgraph
markdown2
requests
langchain_mcp_adapters
dashscope
langchain-redis
langchain-huggingface
redis
sentence-transformers
crawl4ai
json5
pillow
beautifulsoup4
qwen-agent
datasets
tenacity
volcengine-python-sdk
langchain-community
PyYAML>=6.0.1
langchain-core
nest_asyncio
